  <section class="py-4 text-center container">
      <div class="col-lg-6 col-md-8 mx-auto">
          <img src="/images/logo.png" class="img-fluid" alt="logo">
          <a href="/registrar" class="btn btn-A my-2">Agregar</a>
      </div>
  </section>
{{>chatarea}}
{{>mascotas/mascotatabla}}