
    <div id="chatbot-container" style="margin-top: 60px; width:30%;" class="chatbot-container">
        <div class="media">
            <div class="media-body" style="float: right;">
                <h5 class="center-text"><center>ChatBot</center></h5>
            </div>
        </div>
        <div id="chatContainer" class="container border overflow-auto" style=" height: 300px;"></div>
        <div class="input-group">
            <input type="text" id="textbox" class="form-control" placeholder="Escribe tu mensaje...">
            <div class="input-group-append">
                <button id="sendBtn" type="button" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </div>
    <script src="/js/codigo.js"></script>